* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#container {
  width: 40%;
  margin-top: 50px; }
  #container h1 {
    font-size: 40px;
    margin-bottom: 10px; }
  #container .search-input {
    position: relative;
    margin-bottom: 35px; }
    #container .search-input #search-recipe {
      border: 1px solid #696969;
      border-radius: 10px;
      font-size: 15px;
      height: 25px;
      padding-left: 20px;
      outline: none; }
    #container .search-input i {
      position: absolute;
      top: 7px;
      left: 5px;
      font-size: 13px;
      color: #838383; }
  #container .recipe {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin-bottom: 10px; }
    #container .recipe h3 {
      margin-bottom: 10px; }
  #container .buttons {
    display: flex;
    flex-direction: row;
    width: 100%; }
    #container .buttons .add-recipe-btn,
    #container .buttons .reset-btn {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      color: #fff;
      background-color: #5bc0de;
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px 15px;
      margin-top: 20px; }
      #container .buttons .add-recipe-btn:hover,
      #container .buttons .reset-btn:hover {
        background-color: #2390b0; }
    #container .buttons .reset-btn {
      background-color: #d9534f;
      margin-left: auto; }
      #container .buttons .reset-btn:hover {
        background-color: #a02622; }

#recipe-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }

#recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px; }
  #recipe-info .recipe-title,
  #recipe-info .recipe-body {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 5px; }
  #recipe-info .recipe-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  #recipe-info .recipe-body {
    font-size: 16px;
    height: 300px; }

#ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; }
  #ingredients h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px; }
  #ingredients .ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #ingredients .ingredients-container .ingredient {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;
      width: 100%;
      margin-bottom: 5px; }
      #ingredients .ingredients-container .ingredient label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%; }
      #ingredients .ingredients-container .ingredient p {
        margin-left: 5px; }
      #ingredients .ingredients-container .ingredient span {
        margin-left: auto; }
        #ingredients .ingredients-container .ingredient span:hover {
          text-decoration: underline;
          cursor: pointer; }
  #ingredients .ingredient-form {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px; }
    #ingredients .ingredient-form input,
    #ingredients .ingredient-form #add-ingredient-btn {
      border-radius: 3px;
      height: 30px;
      padding: 5px; }
    #ingredients .ingredient-form input {
      border: 1px solid black;
      font-size: 16px;
      margin-right: 5px; }
    #ingredients .ingredient-form #add-ingredient-btn {
      font-size: 15px;
      border: none;
      color: #fff;
      background-color: #5bc0de;
      padding: 0px 20px; }
      #ingredients .ingredient-form #add-ingredient-btn:hover {
        cursor: pointer;
        background-color: #28a1c5; }

#zones {
  width: 100%;
  display: flex;
  flex-direction: row; }
  #zones h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px; }
  #zones #delete-recipe-btn,
  #zones #return-home-btn {
    background-color: #d9534f;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    outline: none;
    width: 180px;
    height: 30px;
    padding: 5px; }
    #zones #delete-recipe-btn:hover,
    #zones #return-home-btn:hover {
      cursor: pointer;
      background-color: #b52b27; }
  #zones .non-danger-zone {
    margin-left: auto; }
    #zones .non-danger-zone #return-home-btn {
      background-color: #5cb85c; }
      #zones .non-danger-zone #return-home-btn:hover {
        background-color: #3d8b3d; }
