$main-font: "Nunito", sans-serif;

//Mixins for alignment

@mixin flex {
  display: flex;
  flex-direction: row;
}
@mixin flex-justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@mixin flex-center-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
